.taskItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 800px;
  border-radius: 8px;
  padding: 10px;
}

.taskId {
  width: clamp(6em, 15vw, 9em);
  overflow: hidden;
  font-size: clamp(0.8rem, 2.5vw, 1rem);
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.link {
  display: block;
  flex: 1;
  min-width: 0;
  max-width: 100%;
  text-decoration: none;
}

.title {
  display: block;
  width: 100%;
  overflow: hidden;
  color: black;
  font-size: clamp(0.9rem, 2.5vw, 1rem);
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover {
    color: rgba(68, 133, 229, 0.529);
  }
}

.completed {
  color: black;
  text-decoration: line-through;
}

.checkbox {
  position: relative;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  appearance: none;
  &:checked {
    border-color: #38a169;
    background-color: #38a169;
  }
  &:checked::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}

.removeButton {
  border: none;
  padding: 5px;
  color: #666;
  background: none;
  cursor: pointer;

  &:hover {
    color: #fc8181;
  }
}

@media (max-width: 480px) {
  .container {
    margin: 20px auto;
    padding: 16px;
  }

  .taskId {
    width: 2rem;
  }
  .title {
    overflow: visible;
    line-height: 1.4;
    text-overflow: unset;
    word-wrap: break-word;
    white-space: normal;
  }
  .taskItem {
    flex-wrap: wrap;
    min-height: 4rem;
  }

  .link {
    width: 100%;
  }
}
